#!/bin/csh
export ORACLE_HOME /oracle/{{ sap.observer.obs1.sid }}/{{ sap.db.software_version }}
/oracle/{{ sap.observer.obs1.sid }}/{{ sap.db.software_version }}/bin/dgmgrl -logfile /home/oracle/observer_{{ sap.db.sid | upper }}.log /@{{ sap.db.sid | lower }}{{ primary_instance_ch | lower }}  "start observer master" &
exit 0