{% for resource in resource_json.Reservations %}
{% for instance in resource.Instances %}
{% if instance.State.Name == "running" or instance.State.Name == "stopped" %}
{{ instance.InstanceId }}
{% endif %}
{% endfor %}
{% endfor %}         