[{% for data in output.results[index].stdout_lines %}
    {% if loop.index > 1 and loop.index <= loop.length-1 %}
        {
            "host": {{ data.split(',')[0] }},
            "log_mode": {{ data.split(',')[1] }},
            "port": "{{ data.split(',')[2] }}",
            "system_id": {{ data.split(',')[3] }},
            "database_name": {{ data.split(',')[4] }}
        },
    {% endif %}
    {% if loop.index == loop.length %}
        {
            "host": {{ data.split(',')[0] }},
            "log_mode": {{ data.split(',')[1] }},
            "port": "{{ data.split(',')[2] }}",
            "system_id": {{ data.split(',')[3] }},
            "database_name": {{ data.split(',')[4] }}
        }
    {% endif %}
{% endfor %}]