{#
    generate availability sets data
#}


{% for resource in resource_json if resource.type=="microsoft.compute/availabilitysets" %}
  {% if loop.first %}
# Availability Sets
---
|Name|Location|Platform Fault Domain Count|Platform Update Domain Count|Proximity Placement Group|Sku|Virtual Machines References|
|-|-|-|-|-|-|-|
  {% endif %}
    
  {%- set vms = namespace(hosts=[]) -%}
  {%- for entry in resource.properties.virtualMachines -%}
    {%- set vms.hosts = vms.hosts + [entry.id.split('/')|last|lower] -%}
  {%- endfor -%}

  {%- set row = [
    resource.name,
    resource.location,
    resource.properties.platformFaultDomainCount,
    resource.properties.platformUpdateDomainCount,
    resource.properties.proximityPlacementGroup.id.split('/')|last,
    resource.sku.name,
    vms.hosts|sort|join("<br>"|safe)
    ]
  -%}

|{{ row | join('|') }}|
{% endfor %}

