{% if oelcis_level2 %}
# Ensure use of privileged commands is collected
{% for binary in priv_binaries.results[0].stdout_lines %}
-a always,exit -F path={{ binary }} -F perm=x -F auid>={{ cis_oel_min_uid }} -F auid!=4294967295 -k privileged
{% endfor %}
{% endif %}