$SQLQuery = Get-Content -Path "{{ sap.install_drive }}:\BackUp\SQLLoginScript.sql"
$SQLQuery = $SQLQuery -replace "{{ node1.split('.')[0] }}", "{{ node2.split('.')[0] }}"
Set-Content -Path "{{ sap.install_drive }}:\BackUp\SQLLoginScript.sql" -Value $SQLQuery -Force -Verbose