{% include 'resources/az-resource-group.j2' %}
{% include 'resources/az-tags.j2' %}
{% include 'resources/az-vm-summary.j2' %}
{% include 'resources/az-load-balancer.j2' %}
{% include 'resources/az-vm-single.j2' %}