{% include 'resources/az-resource-group.j2' %}
{% include 'resources/az-tags.j2' %}
{% include 'resources/az-key-vaults.j2' %}
{% include 'resources/az-storage-accounts.j2' %}
{% include 'resources/az-ppg.j2' %}
{% include 'resources/az-vm-summary.j2' %}
{% include 'resources/az-vm-single.j2' %}
{% include 'resources/az-availability-sets.j2' %}
{% include 'resources/az-load-balancers.j2' %}