{% include 'resources/infra-resource-group.j2' %}
{% include 'resources/infra-tags.j2' %}
{% include 'resources/infra-storage-accounts.j2' %}
{% include 'resources/infra-ppg.j2' %}
{% include 'resources/infra-vm-summary.j2' %}
{% include 'resources/infra-vm-single.j2' %}
{% include 'resources/infra-availability-sets.j2' %}
{% include 'resources/infra-load-balancers.j2' %}