# For a full list of available options, run ansible-config list or see the
# documentation: https://docs.ansible.com/ansible/latest/reference_appendices/config.html.

[defaults]
roles_path = /workspaces/kevin/vinci/SAP_deployment/ansible-sap-collection/roles
any_errors_fatal = true
inventory = ./inventory
vault_password_file = ./vault.pass
host_key_checking = false

[privilege_escalation]
become = True
