#*** ASE fault manager profile ***
ha/syb/version = 1

SAPSYSTEMNAME = {{ sap.sid | upper }}
ha/syb/primary_dbhost = {{ groups['db'][0] }}
ha/syb/primary_dbname = {{ sap.sid | upper }}
ha/syb/primary_dbport = 4901
ha/syb/primary_site = Site1
ha/syb/primary_hbport = 13777

ha/syb/standby_dbhost = {{ groups['db'][1] }}
ha/syb/standby_dbname = {{ sap.sid | upper }}
ha/syb/standby_dbport = 4901
ha/syb/standby_site = Site2
ha/syb/standby_hbport = 13787

ha/syb/dbfmhost = {{ sap.logical_hosts.ascs.hostname }}
ha/syb/h2hport = 13797
ha/syb/support_floating_ip = 0


