{%- set ns = namespace(servernode_port_audit='') %}
{%- set pq = namespace(servernode_port_cms='') %}
{% for i in sap.db.tenants %}
{% if  bods.ips.audit.dbserver ==  i  %}
{%- set ns.servernode_port_audit = '3'+sap.instance_numbers.db+'41' %}
{% endif %}
{% endfor %}
{% if bods.ips.audit.dbserver == sap.db.sid %}
{%- set ns.servernode_port_audit = '3'+sap.instance_numbers.db+'15' %}
{% elif  bods.ips.audit.dbserver == "SYSTEMDB" %}
{%- set ns.servernode_port_audit = '3'+sap.instance_numbers.db+'13' %}
{% endif %}
{% for i in sap.db.tenants %}
{% if  bods.ips.cms.dbserver ==  i  %}
{%- set pq.servernode_port_cms = '3'+sap.instance_numbers.db+'41' %}
{% endif %}
{% endfor %}
{% if bods.ips.cms.dbserver == sap.db.sid %}
{%- set pq.servernode_port_cms = '3'+sap.instance_numbers.db+'15' %}
{% elif bods.ips.cms.dbserver == "SYSTEMDB" %}
{%- set pq.servernode_port_cms = '3'+sap.instance_numbers.db+'13' %}
{% endif %}
[{{ ips_cms_dsnname }}]
DRIVER=/usr/sap/hdbclient/libodbcHDB.so
SERVERNODE= {{ sap.logical_hosts.db.hostname | default (ansible_hostname) }}:{{ ns.servernode_port_audit }}
DATABASENAME= {{ bods.ips.audit.dbserver }} 
DESCRIPTION=CMSDB
[{{ ips_audit_dsnname }}]
DRIVER=/usr/sap/hdbclient/libodbcHDB.so
SERVERNODE={{ sap.logical_hosts.db.hostname | default (ansible_hostname) }}:{{ pq.servernode_port_cms }}
DATABASENAME={{ bods.ips.cms.dbserver }}
DESCRIPTION=CMSAUDDB